 table {
  width: 100%;
  text-align: left;
  border-radius: 4px 4px 0 0;
  border-collapse: separate;
  border-spacing: 0
}
.ant-table {
  width: 100%;
}
th {
  color: rgba(0,0,0,0.85);
  background: #fafafa;
  border-bottom: 1px solid #e8e8e8;
}
tr, th {
  font-weight: 500;
  text-align: left;

  height: 34px;
}


