*,
*:before,
*:after {
  box-sizing: border-box;
}

//ol,
//ul {
//  list-style: none;
//  margin: 0;
//  padding: 0;
//  border: 0;
//  font-size: 100%;
//  font: inherit;
//  color: inherit;
//  vertical-align: baseline;
//}

.App {
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

.btn {
  -webkit-appearance: button;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.65);
  &-primary {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  }
  &-danger {
    color: #fff;
    background-color: #ff4d4f;
    border-color: #ff4d4f;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  }
  &:active {
    color: #fff;
    background-color: #d9363e;
    border-color: #d9363e;
  }
  :not([disabled]):active {
    outline: 0;
    box-shadow: none;
  }
}

input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  width: 100%;
  height: 32px;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5 \9;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all 0.3s;
}

.group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  input {
    margin-right: 10px;
  }
}

.wrap {
  margin: 100px auto;
  display: flex;
}

.elem {
  position: relative;
  z-index: 10;
  max-width: 100%;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  color: #0d1a26;
  font-weight: 500;
  padding: 16px;
  margin: 16px;
  &-100 {
    width: 100%;
  }
}
.not_found {
  width: 100%;
  position: relative;
  z-index: 10;
  max-width: 100%;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  color: #0d1a26;
  font-weight: 500;
  font-size: 30px;
  padding: 16px;
}

.user-list {
  .item-label {
    cursor: pointer;
  }
}

button[disabled] {
  opacity: 0.25;
}
